# Gitaly configuration file
# This file is managed by gitlab-ctl. Manual changes will be
# erased! To change the contents below, edit /etc/gitlab/gitlab.rb
# and run:
# sudo gitlab-ctl reconfigure

socket_path = '<%= @socket_path %>'

runtime_dir = '<%= @runtime_dir %>'
bin_dir = '/opt/gitlab/embedded/bin'
<% if @internal_socket_dir %>
internal_socket_dir = '<%= @internal_socket_dir %>'
<% end %>
<% if @graceful_restart_timeout %>
graceful_restart_timeout = '<%= @graceful_restart_timeout %>'
<% end %>

<% if @listen_addr %>
# Optional: listen on a TCP socket. This is insecure (no authentication)
listen_addr = '<%= @listen_addr %>'
<% end %>

<% if @prometheus_listen_addr %>
# Optional: export metrics via Prometheus
prometheus_listen_addr = '<%= @prometheus_listen_addr %>'
<% end %>

<% if @tls_listen_addr %>
# Optional: listen on a secure TCP socket
tls_listen_addr = '<%= @tls_listen_addr %>'
[tls]
certificate_path = '<%= @certificate_path %>'
key_path = '<%= @key_path %>'
<% end %>

<% @storage.each do |shard| %>
[[storage]]
<% if shard.has_key?('name') %>
name = '<%= shard['name'] %>'
<% end %>
<% if shard.has_key?('path') %>
path = '<%= shard['path'] %>'
<% end %>
<% end %>

[logging]
<% if @logging_level %>
level = '<%= @logging_level %>'
<% end %>
<% if @logging_format %>
format = '<%= @logging_format %>'
<% end %>
<% if @logging_sentry_dsn %>
sentry_dsn = '<%= @logging_sentry_dsn %>'
<% end %>
<% if @logging_ruby_sentry_dsn %>
ruby_sentry_dsn = '<%= @logging_ruby_sentry_dsn %>'
<% end %>
<% if @logging_sentry_environment %>
sentry_environment = '<%= @logging_sentry_environment %>'
<% end %>
dir = '<%= @log_directory %>'

<% if @prometheus_grpc_latency_buckets %>
# # You can optionally configure Gitaly to record histogram latencies on GRPC method calls
[prometheus]
grpc_latency_buckets = <%= @prometheus_grpc_latency_buckets %>
<% end %>

[auth]
<% if @auth_token %>
token = '<%= @auth_token %>'
<% end %>
<% if @auth_transitioning %>
transitioning = <%= @auth_transitioning %>
<% end %>

[git]
<% if @git_catfile_cache_size %>
catfile_cache_size = <%= @git_catfile_cache_size %>
<% end %>
<% if @git_bin_path %>
bin_path = '<%= @git_bin_path %>'
<% end %>
<% if @use_bundled_git %>
use_bundled_binaries = <%= @use_bundled_git %>
<% end %>

[gitaly-ruby]
dir = "/opt/gitlab/embedded/service/gitaly-ruby"
<% if @ruby_max_rss %>
max_rss = <%= @ruby_max_rss %>
<% end %>
<% if @ruby_graceful_restart_timeout %>
graceful_restart_timeout = '<%= @ruby_graceful_restart_timeout %>'
<% end %>
<% if @ruby_restart_delay %>
restart_delay = '<%= @ruby_restart_delay %>'
<% end %>
<% if @ruby_num_workers %>
num_workers = <%= @ruby_num_workers %>
<% end %>
<% if @ruby_rugged_git_config_search_path %>
rugged_git_config_search_path = "<%= @ruby_rugged_git_config_search_path %>"
<% end %>

[gitlab-shell]
dir = "/opt/gitlab/embedded/service/gitlab-shell"

[gitlab]
<% if @gitlab_url %>
url = '<%= @gitlab_url %>'
<% end %>
<% if @gitlab_relative_path %>
relative_url_root = '<%= @gitlab_relative_path %>'
<% end %>

<% if @gitlab_shell['http_settings'] %>
<% http_settings = @gitlab_shell['http_settings'] %>
[gitlab.http-settings]
<% if http_settings['read_timeout'] %>
read_timeout = <%= http_settings['read_timeout'] %>
<% end %>
<% if http_settings['user'] %>
user = '<%= http_settings['user'] %>'
<% end %>
<% if http_settings['password'] %>
password = '<%= http_settings['password'] %>'
<% end %>
<% if http_settings['ca_file'] %>
ca_file = '<%= http_settings['ca_file'] %>'
<% end %>
<% if http_settings['ca_path'] %>
ca_path = '<%= http_settings['ca_path'] %>'
<% end %>
<% if http_settings['self_signed_cert'] %>
self_signed_cert = <%= http_settings['self_signed_cert'] %>
<% end %>
<% end %>

[hooks]
<% if @custom_hooks_dir %>
custom_hooks_dir = '<%= @custom_hooks_dir %>'
<% end %>

<% if @concurrency %>
  <% @concurrency.each do |endpoint| %>

[[concurrency]]
rpc = "<%= endpoint['rpc'] %>"
    <% if endpoint['max_per_repo'] %>
max_per_repo = <%= endpoint['max_per_repo'] %>
    <% end %>
    <% if endpoint['max_queue_size'] %>
max_queue_size = <%= endpoint['max_queue_size'] %>
    <% end %>
    <% if endpoint['max_queue_wait'] %>
max_queue_wait = "<%= endpoint['max_queue_wait'] %>"
    <% end %>
  <% end %>
<% end %>

<% if @rate_limiting %>
  <% @rate_limiting.each do |endpoint| %>
    <% if (endpoint['interval'] && endpoint['burst']) && endpoint['burst'] > 0 %>

[[rate_limiting]]
rpc = "<%= endpoint['rpc'] %>"
interval = "<%= endpoint['interval'] %>"
burst = <%= endpoint['burst'] %>

    <% end %>
  <% end %>
<% end %>

[daily_maintenance]
<% if @daily_maintenance_disabled %>
disabled = <%= @daily_maintenance_disabled %>
<% else %>
<%= "start_hour = #{@daily_maintenance_start_hour}" if @daily_maintenance_start_hour %>
<%= "start_minute = #{@daily_maintenance_start_minute}" if @daily_maintenance_start_minute %>
<%= "duration = '#{@daily_maintenance_duration}'" if @daily_maintenance_duration %>
<%= "storages = #{@daily_maintenance_storages}" if @daily_maintenance_storages %>
<% end %>

<% if @cgroups_count %>
[cgroups]
count = <%= @cgroups_count %>
mountpoint = '<%= @cgroups_mountpoint %>'
hierarchy_root = '<%= @cgroups_hierarchy_root %>'
<% end %>

<% if @cgroups_memory_enabled %>
[cgroups.memory]
enabled = <%= @cgroups_memory_enabled %>
limit = <%= @cgroups_memory_limit %>
<% end %>

<% if @cgroups_cpu_enabled %>
[cgroups.cpu]
enabled = <%= @cgroups_cpu_enabled %>
shares = <%= @cgroups_cpu_shares %>
<% end %>

<% if @pack_objects_cache_enabled %>
[pack_objects_cache]
enabled = true
<%= "dir = '#{@pack_objects_cache_dir}'" if @pack_objects_cache_dir %>
<%= "max_age = '#{@pack_objects_cache_max_age}'" if @pack_objects_cache_max_age %>
<% end %>
